/*活动中心css*/
.action-container,
.action-content{
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	background:#FAFAFA;
}
.action{
	width: 320px;
	margin: 0 auto;
	padding-bottom: 15px;
}
.action li a{
	padding-top: 15px;
	text-align: center;
	border-radius: 3px;
}
.action li a img{
	width: 100%;
	height: 160px;
	border-radius:3px;
}
.action li .error{
	line-height: 160px;
	font-size: 1.4em;
	color:#FFC400;
	text-align: center;
}
.error{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: none;
}
.error .img-off{
	width:160px;
	margin-top: 55px;
}
.error .text-error{
	margin-top: 17px;
	font-size: 1.6em;
	color: #FFC400;
}
.error .text-reload{
	margin-top: 10px;
	font-size: 1.3em;
	color: #959595;
}
.error .btn-reload{
	width:90px;
	height: 40px;
	line-height: 30px;
	margin-top: 30px;
	font-size: 1.6em;
	color:#fff;
	background: url(http://img.qufaya.com/www/images/ad/app-action-center/btn-off-the-net.png) no-repeat center center;
	background-color: #FAFAFA;
	background-size: 100%;
	border: 0;
}
@media screen and (max-width: 350px){
	.action{
		width: 85%;
	}
}
@media screen and (min-width: 500px){
	.action{
		width: 640px;
	}
	.action li p{
		line-height: 360px;
	}
	.action li a img{
		width: 100%;
		height: 360px;
	}
}